<head>
</head>
<body>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


</body>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="jquery-3.1.1.js"></script>
<script>

$(document).ready(function() {

    var options = {
        chart: {
            renderTo: 'container',
            type: 'spline'
        },
        series: [{}],
         title: {
            text: 'Scatter Graph',
            x: -20 //center
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },

    };

    $.getJSON('test.json', function(data) {


        options.series[0].data = data.line1;
        options.series[0].name="Category1";
        options.series[1]=new Object();
        options.series[1].data=data.line2;
        options.series[1].name="Category2";
        options.series[2]=new Object();
        options.series[2].data=data.line3;
        options.series[2].name="Category3";

       // options.yAxis.plotLines.value=20;

        var chart = new Highcharts.Chart(options);
        chart.yAxis[0].addPlotLine({
        	value:data.threshold,
        	color:"red",
        	width:5
        })
    });

});

</script>